<h1> New Page</h1>

<%= form_with url: create_session_path, local: true do |f| %>
  <%= f.text_field :session_name %>
  <%= collection_select(:course,:course_id, Course.all, :id, :course_name) %>
  <%= collection_select(:batch, :batch_id, Batch.all, :id, :batch_name) %>
  <%= f.submit "Create" %>
<% end %>
