<div class="content-inner">
        <header class="page-header">
            <div class="container-fluid">
            <h2 class="no-margin-bottom"><%= link_to "Dashboard", index_announcement_path  %> / <%= link_to "User", index_users_path  %></h2>
            </div>
        </header>  
      <section class="user-section">
      <div class="col-lg-6 mx-auto">
            <div class="card">
                  <div class="card-header d-flex align-items-center">
                    <h2 class="h4">Edit <%= @user.role %> </h2>
                  </div>
              <div class="card-body">
              <%= form_with model: @user, url: update_users_path,  :class => "form-horizontal"  do |f| %>
                <div class="form-group row">
                        <label class="col-sm-4 form-control-label"> Firstname: </label>
                        <div class="col-sm-8">
                            <%= f.text_field :firstname, class: "form-control" %>
                      </div>
                 </div>     
                  <div class="form-group row">
                        <label class="col-sm-4 form-control-label"> Lastname: </label>
                        <div class="col-sm-8">
                            <%= f.text_field :lastname, class: "form-control" %>
                      </div>
                 </div>     
                   <div class="form-group row">
                        <label class="col-sm-4 form-control-label"> Username: </label>
                        <div class="col-sm-8">
                            <%= f.text_field :username, class: "form-control" %>
                      </div>
                 </div> 
                 <div class="form-group row">
                        <label class="col-sm-4 form-control-label"> Role: </label>
                        <div class="col-sm-8">
                        
                       <select name="role" class="form-control">
                            <option value="admin">admin</option>
                            <option value="instructor">instructor</option>    
                            <option value="student">student</option>
                          </select>
                        
                      </div>
                 </div>     
                   <div class="form-group row">
                        <label class="col-sm-4 form-control-label"> Email: </label>
                        <div class="col-sm-8">
                            <%= f.text_field :email, class: "form-control" %>
                       
                      </div>
                 </div> 
                  <div class="form-group row">
                    <label class="col-sm-4 form-control-label"> Password: </label>
                    <div class="col-sm-8">
                        <%= f.text_field :password, class: "form-control" %>
                    
                      </div>
                 </div>   
                  <div class="form-group row">       
                        <div class="col-sm-12 mt-2 offset-sm-4">
                          <%= f.submit "Save ", class: "btn btn-primary"%>
                        </div>
                    </div>
                <% end %>
          </div>
        </div>
      </div>
 </section>
 </div>
