<h1> New user <h1>

  <%= form_with model: @user, url: create_users_path do |f| %>
  
  <table>
    <tr>
      <td><strong>Firstname:</strong></td>
      <td><%= f.text_field :firstname %></td>
    </tr>
    <tr>
      <td><strong>Lastname:</strong></td>
      <td><%= f.text_field :lastname %></td>
    </tr>
    <tr>
      <td><strong>Username:</strong></td>
      <td><%= f.text_field :username %></td>
    </tr>
    <tr>
      <td><strong>Role:</strong></td>
      <td><%= f.select :role, User.roles.each { |p| [p[0], p[1]] }, include_blank: '-select role-' %></td>
    </tr>
    <tr>
      <td><strong>email:</strong></td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td><strong>password:</strong></td>
      <td><%= f.text_field :password %></td>
    </tr>
  </table>

  <%= f.submit 'Add User'%>
 <% end %>
