<li class="<%= active_class(index_programs_path) %>"><%= link_to index_programs_path do %>
    <i class="fa fa-address-book"></i></i>Program
<% end %></li> 
<li class="<%= active_class(new_session_path) %>"><%= link_to new_session_path do %>
    <i class="fa fa-bookmark"></i></i>Create Session
<% end %></li> 
<li class="<%= active_class(new_video_path) %>"><%= link_to new_video_path do %>
    <i class="fa fa-bookmark"></i></i>Upload Videos
<% end %></li> 
