<nav class="side-navbar">
        <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="https://s.gravatar.com/avatar/ea8be90cf21a6f11a0e5a1cd9b9ebc47?s=80" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
            <h1 class="h4">
                <%= current_user.username %> 
            </h1>
            <p><%= current_user.role %> </p>
            </div>
        </div>
        <span class="heading">Main</span>
        <ul class="list-unstyled">
            <li class="<%= active_class(index_announcement_path) %>">
                <%= link_to index_announcement_path  do %>
                    <i class="fa fa-home"></i>Home
                <% end %>    
             </li>
                <li ><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse">
                    <i class="fa fa-tasks"></i>Manage Batch</a>
                    <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                      <li><a href="managebatch.html"><i class="fa fa-users"></i>Students</a></li>
                      <li ><%= link_to batch_index_path do %>
                           <i class="fa fa-columns"></i></i>Batch
                      <% end %> </li> 
                     <li><%= link_to new_session_path do %>
                            <i class="fa fa-bookmark"></i></i>Session
                         <% end %></li> 
                    </ul>
            </li> 
            <li class="<%= active_class(index_courses_path) %>">
                <%= link_to index_courses_path do %>
                    <i class="fa fa-bar-chart"></i>Courses
                <% end %>  
            </li>
            <li><a href="instructors.html"> <i class="fa fa-user"></i></i>Instructors </a></li>
        </ul>
</nav>