<div class="page-content d-flex align-items-stretch"> 
     <%= render partial: 'shared/sidebar'  %>
    <div class="content-inner">
               <header class="page-header">
                   <div class="container-fluid">
                    <h2 class="no-margin-bottom">Dashboard</h2>
                  </div>
            </header>   
          <%# <%= form_with model: @course, url: {controller: 'courses', action: 'create'} do |f|%>
              <%# <span> Course Name </span>
              <%= f.text_field :course_name %> 
              <%# <div>
                <%= f.submit "Add Course"%>
              <%# </div>
            <% end %> 
         
      <section class="courses-section">
                <div class="card-container">
                    <% @courses.each do |course|%>
                          <div class="card mb-3" >
                              <div class="row no-gutters">
                                <div class="col-md-4">
                                  <img src="https://codersera.com/blog/wp-content/uploads/2019/11/ror-in-2020-1200x675.jpg" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body">
                                  <a href="videos.html" class="card-link"> 
                                  <h5 class="card-title"><%= course.course_name%></h5></a>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
                                                        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla paria</p>
                                    <p class="card-text"><small class="text-muted">Batch Number: 1</small></p>
                                    <p class="card-text"><small class="text-muted">
                                          <%= link_to  "Edit Course", edit_courses_path(course) %></small></p>                                
                                  </div>
                                </div>
                              </div>               
                            </div>
                    <% end %>
                </div>

      </section>
</div>