<!DOCTYPE html>
<html>
  <head>
    <title>Eidya Web App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
  <script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  <!-- Font Awesome CDN-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
  <script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
  <link href="http://vjs.zencdn.net/6.6.3/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/6.6.3/video.js"></script>
  <script src="https://rawgithub.com/spchuang/videojs-markers/master/dist/videojs-markers.js"></script>
  <link href="https://rawgithub.com/spchuang/videojs-markers/master/dist/videojs.markers.css" rel="stylesheet">

  </head>

  <body>
      <div class="page">
          <%= render partial: 'shared/navbar' if current_user %>       
          <div class="page-content d-flex align-items-stretch"> 
              <%= render partial: 'shared/sidebar' if current_user   %>
                  <%= yield %>
          </div>
      </div>
      <script type='text/javascript'>
        (() => {
            if( window.localStorage ){
              if( !localStorage.getItem('firstLoad')){
                localStorage['firstLoad'] = true;
                window.location.reload();
              }  
              else
                localStorage.removeItem('firstLoad');
            }
        })();
     </script> 
  </body>
</html>
